.container {
  max-width: 600px;
  width: 50vw;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 480px) {
 
  .container {
     width: 80%;
     min-width: 250px;
  }

}

