.card {
  border: solid 2px;
  border-radius: 2px;
  margin: 20px;
  padding: 30px 30px;
  transition: all 0.2s;
  cursor: pointer;
  color: #0000ee;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.btn {
  -webkit-appearance: none;
  border-radius: 3px;
  transition: all 0.2s;
}

.btn:hover {
  background: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
}

.card:hover {
  border: solid 2px #cf7070;
  background-color: #cf7070;
  color: white;
}

.name {
  font-weight: bold;
  padding-bottom: 10px;
}

.desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
