.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
  height: 70px;
  overflow: visible;
}

@media only screen and (max-width: 480px) {
  .header {
    margin: 0;
  }

  h2 {
    font-size: 22px;
  }
}
