.card {
  border: solid 2px;
  border-radius: 2px;
  margin: 20px;
  padding: 30px 30px;
  transition: all 0.2s;
  cursor: pointer;
  color: #0000ee;
}

.card:hover {
  background-color: #e1e1ff;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.like {
  stroke: #0000ee;
  stroke-width: 30;
  transition: all 1.5s;
}

.like:hover {
  animation: like-pulse 2s infinite;
}

@keyframes like-pulse {
  0%,
  100% {
    color: #e1e1ff;
  }
  50% {
    color: #0000ee;
  }
}

.remove:hover {
  animation: remove-pulse 2s infinite;
}

@keyframes remove-pulse {
  0%,
  100% {
    color: #e62041;
  }
  50% {
    color: #e1e1ff;
  }
}

.btn {
  -webkit-appearance: none;
  border-radius: 3px;
  transition: all 0.2s;
}

.btn:hover {
  background: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
}

.name {
  font-weight: bold;
  padding-bottom: 10px;
}

.desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

@media only screen and (max-width: 480px) {
  .card {
    margin: 20px 0;
  }
}
