.list-container {
  width: 600px;
}

.repo-card {
  border: solid 1px;
  border-radius: 10px;
  margin: 20px;
  padding: 30px 30px;
  transition: all 0.2s;
}

.repo-card:hover {
  background-color: #0A544D;
  color: white;
}

.repo-name {
  font-weight: bold;
  padding-bottom: 10px;
}

.repo-desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.repo-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

