.card {
  border: solid 1px;
  border-radius: 10px;
  margin: 20px;
  padding: 30px 30px;
  transition: all 0.2s;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.btn {
  width: 80px;
}

.btn:hover {
  font-weight: bold;
}

.card:hover {
  background-color: #0A544D;
  color: white;
}

.name {
  font-weight: bold;
  padding-bottom: 10px;
}

.desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}